<div>
    <div class="row">
        <div class="header-div">
            <img class="headshot" src="assets/me.png" />
            <div class="headers">
                <h1>Francisco Zamora Treviño</h1>
                <h2>Computer Science Student</h2>
            </div>
            <div>
                <ul>
                    <li>✉️ fztmon@gmail.com</li>
                    <li>📞 8124696638</li>
                    <li>📍 Monterey, Nuevo León, México</li>
                </ul>
                <div>
                    <p class="about">{{about}}</p>
                </div>
            </div>
        </div>
    </div>
</div>