.container {
    width: 100%;
    max-width: 55rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px; /* add rounded corners */
    background-color: #f5f5f5; /* add soft gray color */
    padding: 2%;
}

